body {
	border-bottom-color:rgb(221, 221, 221);
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgb(221, 221, 221);
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:rgb(221, 221, 221);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgb(221, 221, 221);
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-top-style:solid;
	border-top-width:1px;
	
	background-color: rgb(255, 255, 255);
	box-sizing:border-box;
	color:rgb(36, 41, 46);
	display:block;
	width:980px;
	margin-left: auto;
	margin-right: auto;
	word-wrap:break-word
}

article {
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:16px;
	line-height:1.5em;
	padding-bottom:45px;
	padding-left:45px;
	padding-right:45px;
	padding-top:45px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
}

h1 {
	border-bottom-color:rgb(234, 236, 239);
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:2em;
	line-height:1.5em;
	font-weight:600;
	margin-bottom:16px;
	margin-top:0px;
	padding-bottom:9.6px;
}

h2 {
	border-bottom-color:rgb(234, 236, 239);
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:1.2em;
	font-weight:600;
	margin-bottom:16px;
	margin-top:24px;
	padding-bottom:7.2px;
}

h3 {
	border-bottom-color:rgb(234, 236, 239);
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:1em;
	font-weight:600;
	margin-bottom:16px;
	margin-top:24px;
}

h4, h5, h6 {
	border-bottom-color:rgb(234, 236, 239);
	border-bottom-style:solid;
	border-bottom-width:1px;
	font-size:1em;
	font-weight:600;
	margin-bottom:10px;
	margin-top:14px;
}

code {
	font-family: consolas, monospace, monospace;
	font-size: 1em; 
	margin:0 2px;
	padding:0 5px;
	white-space:pre;
	border:1px solid #eaeaea;
	border-radius:3px;
}

pre code {
	font-family: consolas, monospace, monospace;
	font-size: 1em;
	padding:0;
	background:0 0;
	margin:0;
	white-space:pre;
	border:none
}

pre code table
{ 
	border-spacing:0; 
	border-collapse:collapse; 
	margin-top:0; 
	margin-bottom:0px;
	padding-top:16px;
	padding-bottom:0px;
	border:1px solid #eaeaea;
	border-radius:3px;
	display:block; 
	overflow:auto; 
}

pre code table tr {
	line-height:1.5em; 
	padding:0px; 
	border:0px;
}

pre code table tr:nth-child(2n) {
	background-color:#fff;
}

pre code table tr td { 
	padding:0px 10px; 
	border:0px; 
	font-family: consolas, monospace, monospace;
	font-size:1em;
	white-space:pre 
}

.code-line-number 
{
	text-align:right;
	color: rgba(27,31,35,0.3);
	white-space:pre;
}

.code-key-word {
	color:#d73a49;
}

.code-comment {
	color:#6a737d;
}

.code-function {
	color:#005cc5;
}

.code-number {
	color:#d73a49;
}

.code-string{
	color:#d73a49;
}

table {
	border-spacing:0;
	border-collapse:collapse;
	margin-top:0;
	margin-bottom:16px;
	display:block;
	overflow:auto;
}

table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1;
}

table tr th { 
	font-weight:600;
	padding:6px 13px;
	border:1px solid #dfe2e5;
}

table tr td {
	padding:6px 13px;
	border:1px solid #dfe2e5;
}

table tr:nth-child(2n) { 
	background-color:#f6f8fa;
}

ul,ol {
	padding-left:2em;
	margin-top:0;
	margin-bottom:0;
}

blockquote {
	margin: 0;
	margin-top: 0;
	margin-bottom: 16px;
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}
